# Monorepo Ignores
**/node_modules
**/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
*.sqlite
npm-debug.log
yarn-error.log
.idea
.vscode

# Backend Specific
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/storage/*.sqlite
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/bootstrap/cache/*
!backend/bootstrap/cache/.gitignore

# Frontend Specific
frontend/dist
frontend/node_modules
